
div {

    background-color: green;
}

body {

    background-color: tan;
}

footer {
    text-align: center;
    background-color: blueviolet;
    
}



header {

    background-color: green;
    background-position: center;
    height: 150px;
    padding: 20px;
    text-align: center;

}
  
header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
  }

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
h1 {

    text-align: center;
    background-color: white;
  }

.test1 {

    text-align: center;
  }

 p{

    text-align: center;
    background-color: white;
}
